* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.members {
  background-color: #9abcde;
  color: #333333;
  font-size: 8pt;
  display: flex;
  height: 90vh;
  align-items: left;
  justify-content: top;
}

.home-text {
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
}

.indent {
  margin-top: 10px;
  margin-left: 20px;
}